<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>AlertsExample</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testPromptWithEmptyUserInput</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testAlert</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testConfirmWithCancelOption</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testConfirmWithYesOption</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPromptWithCancelButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPromptWithUserInput</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
