<h2>Methods that were not run</h2><table>
<tr><td>AlertsExample.testConfirmWithYesOption</td></tr>
<tr><td>AlertsExample.testPromptWithUserInput</td></tr>
<tr><td>AlertsExample.testPromptWithCancelButton</td></tr>
<tr><td>AlertsExample.testPromptWithEmptyUserInput</td></tr>
<tr><td>AlertsExample.testConfirmWithCancelOption</td></tr>
</table>